---
- name: "Downloads git server"
  unarchive:
   copy: yes
   src: "/software/{{ git }}"
   dest: "{{ software }}"
#  unarchive:
#   src: https://mirrors.edge.kernel.org/pub/software/scm/git/git-2.9.5.tar.xz
#   dest: /usr/local/
#   remote_src: yes
- name: "install depen"
  yum: 
   name:
   - gcc-c++
   - curl-devel
   - expat-devel 
   - gettext-devel
   - openssl-devel
   - zlib-devel
   - perl-ExtUtils-MakeMaker
   - autoconf
   state: latest
- name: "install git"
  shell:
    cd /usr/local/git-2.9.5/ && make configure && ./configure --prefix=/usr/local/git && make profix=/usr/local/git  &&  make install
- name: set env 
  lineinfile:
    dest: /etc/profile
    line: "{{ item }}"
  with_items:
    - export PATH=$PATH:/usr/local/git/bin



   
  
  
  
  #export NGINX_HOME=/usr/local/git
#export PATH=$PATH:$NGINX_HOME/sbin
